.horiblocks {
    background-color: white;
    width: 47%;
    height: 180px;
    border: 5px solid green;
    padding: 5px;
    margin: 1px;
    float:left;
    overflow: hidden;
  }
  .horiblock {
    background-color: white;
    width: 1405px;
    height: 325px;
    border: 5px solid green;
    padding: 5px;
    margin: 1px;
    float: right;
    overflow: scroll;
    white-space: nowrap;
  }
  .iconneeche{
    float:right;
    height: 85px;
    width: 100px;
    font-size: 60px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
      }
  .iconneeche:hover{
    color: green; 
  }
#name1, #name2, #name3, #name4 {
    float: center; 
    font-size: 40px;
}   
.change {
    width: 250px;
    height: 30px;
    padding: 6px;
    margin-top: 6px;
    border: none;
    font-size: 30px;
    }
